@media screen and (min-width: 992px) {
	header {
		.navbar-collapse {
			background: transparent;
			position: static;			
			padding: 0;

			ul {
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				justify-content: flex-end;
				margin-right: -15px;
			}
		}
	}
}