@media screen and (min-width: 992px) {
	.hero {
		height: 100vh;

		h2 {
			width: 65%;
		}

		.overlay {
			width: 80%;
		}
	}

	.parallax {
	    .front {   
		    bottom: -210px;
		    left: 0;
	    }

	    .middle {
		    bottom: -35px;
		    right: 60px;
	    }

	    .back {
		    bottom: -60px;
	    } 
	}
}