@media screen and (min-width: 1200px) {
 	.any-slider {
	 	.slick-arrow {
	 		width: 48px;
	 		height: 75px;
	 		top: 50%;
	 		margin-top: -37px;

	 		&.slick-prev {
				left: -60px;
	 		}

	 		&.slick-next {
				right: -60px;
	 		}
	 	}
 	}
}