@media screen and (min-width: 992px) {

	.text-block {
		.title-line {
		    margin-bottom: $gap * 3;
		}

		p {
			line-height: 195%,
		}
	}

	.white-block {
		padding: 90px;

		.images {
			.back-img {				
				margin-left: -15px;
			}
		}
	}

	.dark-block {
		padding: 90px;
	}

	.main-section {
		margin-top: $gap * 8;
		margin-bottom: $gap * 8;
	}

	// Homepage modules
	.about {
		img {
		    width: 60%;
		    margin: 0 auto;
		    display: block;
		}
	}

	// Deco
	.cross-orange-lg {
		position: relative;

		&:after {
			content: '';
		    position: absolute;
		    display: block;
		    left: -75px;
		    bottom: -75px;
		    background: url(../img/cross-orange-lg.png) no-repeat 0 0 transparent;
		    background-size: 100%;
		    width: 150px;
		    height: 150px;
		}
	}

	.cross-orange-md {
		    width: 80px;
		    height: 80px;
		    display: block;
		    margin: auto;
		    background: url(../img/cross-orange-md.png) no-repeat 0 0 transparent;
		    background-size: contain;
	}

	.circle-pink-md {
		    width: 80px;
		    height: 80px;
		    display: block;
		    margin: auto;
		    background: url(../img/circle-pink-md.png) no-repeat 0 0 transparent;
		    background-size: contain;
	}

	.circle-pink-sm {
		    width: 20px;
		    height: 20px;
		    display: block;
		    margin: auto;
		    background: url(../img/circle-pink-md.png) no-repeat 0 0 transparent;
		    background-size: contain;
	}	

	.deco-purple-cross {
	    height: 110px;
	    background-size: auto 100%;
	    margin: 10rem 0;
	}

	.quotes {
		&:before,
		&:after {		
			position: absolute;
		    content: '';
		    display: block;
		    width: 120px;
		    height: 150px;
		    background-size: 100% auto;
		    background-repeat: no-repeat;
		}

		&:before {
			background-image: url('../img/quote-open.png');
			left: -30px;
			top: -90px;
		}

		&:after {
			background-image: url('../img/quote-close.png');
			right: -30px;
			bottom: -20px;
		}
	}

	.transparent-block {
	    padding: $gap4;
	}

	.small-white-block {
	    padding: $gap4;
	}

	.two-columns {
		margin: 150px 0;
	}

	.images {
		padding-right: 40px;
		padding-bottom: 40px;

		.back-img {
			margin: 0;
		}

		.front-img {
			margin: -120px 0 0 30px;
		}
	}
}

@media screen and (min-width: 1200px) {


	.line-text-decoration {
		h4,
		h3 {
		    min-height: unset;
		}
	}

	.white-block {
	    padding: $gap2 * 3 $gap2 * 5;

	    &.deco-pink-rombo {
	    	padding: $gap2 * 4 $gap2 * 5 $gap2 * 3;
	    }
	}

	.padding-small {
		padding: 50px 30px;
	}

	.dark-block {
		padding: $gap2 * 3 $gap2 * 5;
	}

	
	// Homepage modules
	.code {
		margin-top: $gap2 * 6;
	}

	// Deco 
	.deco-pink-rombo { 
		margin-top: $gap2 * 8;

		&:before {
		    width: 180px;
		    height: 180px;
		    top: -90px;
		    margin-left: -90px;
		}
	}

	.cross-orange-lg {
		&:after {
			left: -55px;
			bottom: -55px;
			width: 110px;
			height: 110px;
		}
	}

	.images {
		padding-bottom: 0;

		.front-img {
			margin: -250px 0 0 30px;
		}
	}
}