ul.navigation {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

ul.navigation > li {
  display: inline;
  font-size: $x-large + 2;
}

ul.navigation > li:not(:last-child)::after {
  content: " /";
}

ul.navigation > li:last-child{
  font-weight: $bold;
}
