body {
	color: $dark;
	font-size: $x-large;
	font-family: $body-font;
	background: $light;

	.dk-bg {
		color: $light;
		font-size: $x-large;
		font-family: $body-font;
		background: $dark;
	}

	.lg-bg {
		color: $purple4;
		background: $lg-bg;
	}
}

// Social list buttons
.social {

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 $gap - 6;

		a {
			font-size: $x-large + 6;
			font-weight: $normal;
		}
	}

	&.purple {
		a {
			color: $purple4;
		}
	}
}


// GENERAL CLASSES

.lighter {
	font-weight: $lighter;
}

.medium {
	font-weight: $medium;
}

.bold {
	font-weight: $bold;
}

.semibold {
	font-weight: $semibold;
}

.pink {
	color: $pinky;
}

.static {
	position: static;
}