.bd-callout.bd-callout {
    background: $lg-ocean;
    border: 1px solid $lg-ocean-b;
    color: $light;
    padding: 30px;
    margin: 15px 0;
    border-top-width: 8px;
    border-radius: 3px;

    h4 {
        margin-top: 0;
        margin-bottom: .25rem
    }

    p {
        color: $light;
        margin: 0;
    }

    h4 + p {
        margin-top: 15px;
    }

    p:last-child {
        margin-bottom: 0
    }

    code {
        color: $lg-ocean-b;
    }
}


.bd-callout + .bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: rgb(61, 53, 128);

    h4 {
        color: $turquoise;
    }
}

.bd-callout-warning {
    border-left-color: $lg-sun-b;

    h4 {
        color: $lg-sun-b;
    }
}

.bd-callout-danger {
    border-left-color: $lg-pinky;

    h4 {
        color: $lg-pinky;
    }
}