.bd-callout.bd-callout {
    background: $lg-pinky-c;
    border: 1px solid $pinky;
    color: $purple4;
    padding: 30px;
    margin: 15px 0;
    border-top-width: 8px;
    border-radius: 3px;

    h4 {
        margin-top: 0;
        margin-bottom: .25rem;
        color: $pinky;
    }

    p {
        color: $purple4;
        margin: 0;
    }

    h4 + p {
        margin-top: 15px;
    }

    p:last-child {
        margin-bottom: 0
    }

    code {
        color: $pinky;
        font-size: $x-large;
    }

    &.bd-callout-info {
        border-color: $purple4;

        h4 {
            color: $purple4;
        }
    }

    &.bd-callout-warning {
        border-color: $lg-sun-b;
        background: $lg-sun-c;

        h4,
        code {
            color: $lg-sun-b;
        }
    }

    &.bd-callout-danger {
        border-color: $danger;
        background: $danger-lg;

        h4,
        code {
            color: $danger;
        }

        p {
            color: $danger-lg-b;
        }
    }
}


.bd-callout + .bd-callout {
    margin-top: -.25rem
}