/*
Trailbootstrap
*

01. Alerts
02. Badge
03. Breadcrumb
04. Buttons
05. Button group
06. Card
07. Carousel
08. Collapse
09. Dropdowns
10. Forms
11. Input group
12. List group
13. Media object
14. Modal
15. Navs
16. Pagination 
17. Popovers
18. Progress
19. Spinners
21. Tooltips
22. Tables




*/



// 1. Alerts

.alert {
	.alert-text {
		font-weight: $medium;
	    font-size: $x-regular;
	    .alert-link {
	    	cursor: pointer;
	    	font-weight: $bold;
	    }
	}
	&.alert-primary {
		background: $lg-purple2;
		border-color: $lg-purple2-b;
		color: $light;
		.alert-link {
			color: $lg-purple2-b;
		}
		.close {
			color: $purple2;
			text-shadow: none;
		}
	}
	&.alert-secondary {
		background: $lg-pinky;
		border-color: $lg-pinky-b;
		color: $light;
		.alert-link {
			color: $lg-pinky-b;
		}
		.close {
			color: $pinky;
			text-shadow: none;
		}
	}
	&.alert-success {
		background: $lg-grass;
		border-color: $lg-grass-b;
		color: $light;
		.alert-link {
			color: $lg-grass-b;
		}
		.close {
			color: $grass;
			text-shadow: none;
		}
	}
	&.alert-danger {
		background: $lg-sun2;
		border-color: $lg-sun2-b;
		color: $light;
		.alert-link {
			color: $lg-sun2-b;
		}
		.close {
			color: $sun2;
			text-shadow: none;
		}
	}
	&.alert-warning {
		background: $lg-sun;
		border-color: $lg-sun-b;
		color: $light;
		.alert-link {
			color: $lg-sun-b;
		}
		.close {
			color: $sun;
			text-shadow: none;
		}
	}
	&.alert-info {
		background: $lg-ocean;
		border-color: $lg-ocean-b;
		color: $light;
		.alert-link {
			color: $lg-ocean-b;
		}
		.close {
			color: $ocean;
			text-shadow: none;
		}
	}
	&.alert-light {
		background: transparent;
		border-color: $lg-purple2;
		color: $lg-purple2;
		.alert-link {
			color: $pinky;
		}
		.close {
			color: $purple2;
			text-shadow: none;
		}
	}
	&.alert-dark {
		background: $lg-wine2;
		border-color: $lg-wine2-b;
		color: $light;
		.alert-link {
			color: $lg-wine2-b;
		}
		.close {
			color: $wine2;
			text-shadow: none;
		}
	}
}


// 2. Badge

.badge {
	&.badge-primary {
		background-color: $purple2;
	}
	&.badge-secondary {
		background-color: $pinky;
	}
	&.badge-success {
		background-color: $grass;
	}
	&.badge-danger {
		background-color: $sun2;
	}
	&.badge-warning {
		background-color: $sun;
		color: $light;
	}
	&.badge-info {
		background-color: $ocean;
	}
	&.badge-light {
		background-color: transparent;
		border: 1px solid $purple2;
		color: $purple2;
	}
	&.badge-dark {
		background-color: $wine2;
	}
}



// 3. Breadcrumb

.breadcrumb {
    border-radius: 3px;
    border: 1px solid $sun;
    border-bottom-width: 8px;
    background-color: transparent;
    .breadcrumb-item {
    	a {
			color: $purple;
    	}
    	&.active {
    		color: $sun;
    	}
    }
}

// 4. Buttons

// 5. Button group

// Check buttons.scss

// 6. Card

.card {
	background-color: transparent;
	border-color: $pinky; 
	.card-header {
		background-color: $pinky;
		color: $light;
		h2, h3, h4, h5, h6 {
			margin: 0;
			font-size: $x-regular;
			font-weight: $semibold;
			line-height: normal;
		}
	}
	.list-group {
		.list-group-item {
			background-color: transparent;
			border-color: $pinky;
		}
	}
	.card-footer {
		background-color: $lg-pinky;
		border-color: $pinky;
		p {
			margin: 0;
			color: $light;
			font-size: $regular;
		}
	}
	.card-title {
		margin: 0;
	}

	&.card-alt {
		background-color: transparent;
		color: $pinky;
		border-color: $lg-pineapple-b;
		.card-footer {
			background-color: $lg-pineapple-b;
			border-color: $lg-pineapple-b;
			p {
				margin: 0;
				color: $pinky;
				font-size: $regular;
			}
		}
	}

	button {
		outline: none;
	}
}

//7. Carousel

.any-slider {
	&.slider-doc {
		width: 90%;
		left: 5%;
	}
	.slick-dots {
		display: flex;
		justify-content: center;
		
		margin: 0;
		padding: 1rem 0;
		
		list-style-type: none;
	
		li {
			margin: 0 0.25rem;
		}
	
		button {
			display: block;
			width: 1rem;
			height: 1rem;
			padding: 0;
			
			border: none;
			border-radius: 100%;
			background-color: $purple4;
			
			text-indent: -9999px;
		}
	
		li.slick-active button {
			background-color: $pinky;
		}
	
	}
}

// 8. Collapse

.collapse {
	.card {
		margin-top: 15px;
	}
}


.collapse,
.accordion {
	.card {
		p {
			margin: 0;
			font-size: $x-regular;
		}
		.card-header {
			background-color: $md-pinky;
			h2, h3, h4, h5, h6, p {
				button {
					background-color: transparent;
					border: none;
					color: $light;
					font-size: $x-regular;
					font-weight: $semibold;
				}
			}
		}
	}
}

// 9. Dropdown

.dropdown {
	.dropdown-toggle {
		&:after {
		    content: "\f0dd";
    		font-family: 'Font Awesome 5 Pro';
    		border: none;
		}
	}
	&.show {
		.dropdown-toggle {
			background-color: $pinky;
			border-color: $md-pinky;
		}
	}
	.dropdown-menu {
		background-color: $lg-pinky;
    	border-color: $pinky;
    	a {
    		color: $light;
    		font-size: $x-regular;
    	}
    	.dropdown-divider {
    		border-color: $pinky;
    	}
	}
}

// 10. Forms

form {
	.form-group {
		margin: 1.5rem 0;

		.gj-datepicker-md [role=right-icon] {
			color: $purple2;
		    right: 10px;
		    top: 12px;
		    font-size: 18px;
		}
	}

	.form-label {
		text-transform: uppercase;
		font-size: $small;
		font-weight: $bold;
	}
	input,
	input:hover,
	input:focus,
	input:active,
	.form-control,
	.form-control:hover,
	.form-control:focus,
	.form-control:active {
		border-color: $purple4;
		color: $purple4;
		background-color: transparent;
	}

	.form-control {		
		line-height: 40px;
		height: 40px;

		&.gj-textbox-md {
			line-height: 40px;
			height: 40px;
			border: 1px solid $purple4;
			color: $purple4;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			font-weight: 400;
			font-family: $body-font;
		}
	}

	.form-control:disabled, 
	.form-control[readonly] {
		background: transparent;
	}

	.form-control:focus {
		box-shadow: none;
	}

	input:focus,
	textarea:focus {
		box-shadow: 0 0 0 0.2rem rgba(61, 53, 128, 0.25);
	}
	textarea {
		resize: none;
		line-height: 150%;
		height: auto;
		min-height: 130px;
	}
	.form-text {
		font-size: $small;
	}

	.invalid-feedback {
		color: $sun2;
	}
	.is-invalid {
		border-color: $sun2;
	}
	.input-group-prepend,
	.input-group-append {
		span {
			border: 1px solid $md-purple4;
			background-color: $md-purple4;
			color: $light;
		}
	}
}


// 10.1 Forms - Checkbox

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

  	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 2px;
  border: 1px solid $purple4;
}

.checkbox-container {
	input:checked ~ .checkmark {
  		background-color: $pinky;
  		border: none;
	}
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

.checkbox-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

// 10.2 Forms - Radio

.radio-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	.form-label {
		margin: 0;
	}
}

.radio-circle {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border-radius: 50%;
	border: 1px solid $purple4;
}

.radio-container input:checked ~ .radio-circle {
	background-color: $pinky;
	border: none;
}

.radio-circle:after {
	content: "";
	position: absolute;
	display: none;
}

.radio-container input:checked ~ .radio-circle:after {
	display: block;
}

.radio-container .radio-circle:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
	border-radius: 50%;
	background: white;
}


// 12. List group

.list-group {
	.list-group-item {
		background-color: transparent;
		border-color: $purple4;
		font-size: $regular;
		color: $purple4;
		&.list-group-item-action {
			color: $pinky;
			font-weight: $bold;
		}
		&.active {
			background-color: $lg-purple4;
			color: $light;
			font-weight: $bold;	
		}
		&.disabled {
			color: #6c757d;
		}
	}
}

// 13. Media Objects

.media {
	padding: 15px;
	border-radius: 4px;
	border: 1px solid $pineapple;
	font-size: $small;
	color: $pinky;
	h2,
	h3,
	h4,
	h5 {
		margin-bottom: 5px;
		font-size: $regular;
	}
}

// 14. Modal

.modal {
	.modal-dialog {
		.modal-content {
			background-color: $slg-pinky;
			border-color: $lg-pinky-b;
			border-radius: 4px;
			.modal-header {
				border-color: $lg-pinky-b;
				h2,
				h3,
				h4,
				h5 {
					margin: 0;
					text-transform: uppercase;
					font-size: $x-regular;
				}
				.close {
					color: $purple4;
				}
			}
			.modal-body {
				font-size: $regular;
			}
			.modal-footer {
				border-color: $lg-pinky-b;
			}			
		}
	}
}


// 15. Navs

.nav {
	border-bottom: 8px solid $pinky;
	border-radius: 4px;
	.nav-item,
	.nav-item a {
		font-size: $regular;
		font-weight: $bold;
		text-transform: uppercase;
		.nav-icon {
		    margin-top: 9px;
		}
		&.active {
			color: $purple4;
		}
	}
	&.nav-tabs {
		.active {
			background-color: transparent;
			border: none;
			border-top: 4px solid $purple4;
			border-radius: 0;
		}
	}
}


// 16. Pagination

.pagination {
	.page-item {
		.page-link {
			background-color: transparent;
			border-color: $pineapple;
			color: $pinky;
		}
		&.active {
			.page-link {
				background-color: $pineapple;
				font-weight: $bold;
			}
		}
	}
}

// 17. Popovers

.popover {
	border: none;
	.arrow {
		&::before {
			border: none;
		}
	}
	.popover-body {
		background-color: $slg-pinky;
		color: $purple4;
	}
	&.bs-popover-top {
		.arrow {
			&::after {
				border-top-color: $slg-pinky;
			}
		}
	}
	&.bs-popover-right {
		.arrow {
			&::after {
				border-right-color: $slg-pinky;
			}
		}
	}
	&.bs-popover-bottom {
		.arrow {
			&::after {
				border-bottom-color: $slg-pinky;
			}
		}
	}
	&.bs-popover-left {
		.arrow {
			&::after {
				border-left-color: $slg-pinky;
			}
		}
	}
}


// 18. Progress

.progress {
	height: 20px;
	background-color: $lg-purple4;
	.progress-bar {
		background-color: $purple4;
	}
}


// 19. Spinners

.spinner-border {
    border: 6px solid $purple4;
    border-radius: 0;
}


// 21. Tooltips

.tooltip-main {
  background: $pinky;
  border: none;
  color: $light;
}

.tooltip-inner {
  background: $pinky;
  color: $light;
  border: none;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $pinky;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: $pinky;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
  border-left-color: $pinky;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: $pinky;
}


// 22. Tables

.table-responsive {
	background: #F0F0F0;
	padding: $gap;
	display: inline-block;
	border-radius: 3px;
    border: 1px solid #4D4499;
}

.table {
	color: $purple3;
	margin: $gap2 0;	

	thead {
		th {
		    border-bottom: 2px solid $ocean;
		    font-weight: bold;
		}
	}

	.thead-dark {
		th {
		    background-color: $ocean;
		    border-color: $ocean;
		}
	}

	td, 
	th {
	    padding: 10px;
	    vertical-align: middle;
	    border-top: transparent;
	    line-height: normal;
	    font-size: $regular;
	    font-weight: $medium;
	}

	tr {
		td:first-child {
			padding-left: 0;

			pre {
				margin: 0;
				border-radius: 3px;
				padding: 5px;
				background-color: $sun2;
				color: $light;
			}
		}
	}

	pre {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
	}		
}	

.table-striped {
	tbody {
		tr:nth-of-type(odd) {
		    background-color: rgb(255, 231, 214);
		}
	}
}