.sidebar-scroll {
	position: sticky;
    top: 35px;
    max-height: calc(100vh - 60px);
    overflow: hidden;

	h3 {
		font-size: $large;
		font-weight: $bold;
		color: $purple4;

		i {
			color: $sun2;
			margin-right: 10px;
		}
	}

	ul {
		list-style: none;
	}

	.features {
		.vertical.menu {
			max-height: calc(100vh - 290px);
			overflow-y: auto;

			/* width */
	    	&::-webkit-scrollbar {
	    	  width: 5px;
	    	}

	    	/* Track */
	    	&::-webkit-scrollbar-track {
	    	  background: transparent;
	    	}

	    	/* Handle */
	    	&::-webkit-scrollbar-thumb {
	    	  background: transparent;
	    	  border-radius: 10px;
	    	}

	    	/* Handle on hover */
	    	&::-webkit-scrollbar-thumb:hover {
	    	  background: $lg-pinky;
	    	}
		}
	}

	.vertical.menu {
	    margin: 15px 25px;
	    padding: 0;
	    border: 0;

	    height: 100%;
        overflow-y: auto;

        /* width */
    	&::-webkit-scrollbar {
    	  width: 5px;
    	}

    	/* Track */
    	&::-webkit-scrollbar-track {
    	  background: transparent;
    	}

    	/* Handle */
    	&::-webkit-scrollbar-thumb {
    	  background: transparent;
    	  border-radius: 10px;
    	}

    	/* Handle on hover */
    	&::-webkit-scrollbar-thumb:hover {
    	  background: $lg-pinky;
    	}
        

	    li {
	    	display: block;
	    	width: 100%;
	    }

	    i {
	    	color: $pinky;
	    	font-size: $x-small;
	    	vertical-align: middle;
	    	margin-right: 5px;
	    }

	    .sub-item {
	    	a {
	    		font-size: $regular;
	    		text-transform: capitalize;
	    		padding-left: $gap + 2;
	    	}
	    }

	    a {
	    	font-size: $x-regular;
	    	color: $dark;
	    	font-weight: 300;
	    	padding: 5px 0;
	    	text-transform: uppercase;
	    	display: block;
	    }

	    .active {
	    	font-weight: $medium;
	    	border: 0;
	    }
	}

	img {
	    width: 35%;
	    height: auto;
	    margin: 1rem;
	}
}