.sidebar-scroll {
	margin-top: $gap2;
	position: sticky;
	top: 105px;

	h3 {
		font-size: $large;
		font-weight: $bold;
		color: $purple4;

		i {
			color: $sun2;
			margin-right: 10px;
		}
	}

	ul {
		list-style: none;
	}

	.vertical.menu {
	    margin: 15px 25px;
	    padding: 0;

	    i {
	    	color: $lg-ocean;
	    	font-size: $x-small;
	    	vertical-align: middle;
	    	margin-right: 5px;
	    }

	    .sub-item {
	    	a {
	    		padding-left: $gap;
	    		font-size: $regular;
	    	}
	    }

	    a {
	    	font-size: $x-regular;
	    	color: $dark;
	    	font-weight: 300;
	    	padding: 5px 0;
	    	text-transform: uppercase;
	    	display: block;
	    }

	    .active {
	    	font-weight: $medium;
	    }
	}

	img {
	    width: 35%;
	    height: auto;
	    margin: 1rem;
	}
}