.sidebar-scroll {
	margin-top: $gap2;

	h3 {
		font-size: $x-large + 2;
		font-weight: $bold;
		color: $dark;

		i {
			color: $sun2;
			margin-right: 10px;
		}
	}

	ul {
		list-style: none;
	}

	.vertical.menu {
	    margin: 15px 25px;
	    padding: 0;

	    a {
	    	font-size: $x-regular;
	    	color: $dark;
	    	font-weight: 300;
	    	padding: 5px 0;
	    	text-transform: uppercase;
	    	display: block;
	    }

	    .active {
	    	font-weight: $medium;
	    }
	}

	img {
	    width: 35%;
	    height: auto;
	    margin: 1rem;
	}
}