// COLORS
	$light: #ffffff;
	$dark: #000000;

	$purple: #802F6C;
	$purple: #802F6C;
	$purple2: #2A1A8F;
	$purple3: #282E70;
	$purple4: #3D3580;

	$wine: #661D3A;
	$wine2: #652054;

	$pinky: #FF355D;

	$sun: #FF6E28;
	$sun2: #FA413B;

// FONT SIZES
	$x-small: 10px;
	$small: 12px;
	$regular: 14px;
	$x-regular: 16px;
	$large: 18px;
	$x-large: 20px;

// FONT WEIGHTS
	$normal: 400;
	$semibold: 600;
	$bold: 700;

// FONT FAMILY
	$body-font: 'Raleway', sans-serif;

// SPACES
	$gap: 15px;
	$gap2: 30px;