// COLORS
	$light: #ffffff;
	$dark: #000000;

	$purple: #802F6C;
	$purple2: #2A1A8F;
	$purple3: #282E70;
	$purple4: #3D3580;

	$wine: #661D3A;
	$wine2: #652054;

	$pinky: #FF355D;

	$sun: #FF6E28;
	$sun2: #FA413B;

	$grass: #31B53B;

	$ocean: #329EB7;

	$turquoise: #5bc0de;

	$pineapple: #ffde28;

	$lg-bg: #FFEDE0;

	$overlay-blue: #211b3f;

	$danger: #de0900;

	// Light versions & borders
	
	$lg-grey: #F0F0F0;

	$lg-purple2: #867fbd;
	$lg-purple2-b: #524b92;

	$slg-pinky: #ffd9e1;
	$lg-pinky: #ff8ea4;
	$lg-pinky-b: #e64565;
	$lg-pinky-c: #ffd4dd;

	$lg-grass: #92da98;
	$lg-grass-b: #45a74d;

	$lg-sun2: #f58d8a;
	$lg-sun2-b: #e63630;

	$lg-sun: #ffb592;
	$lg-sun-b: #e28e67;
	$lg-sun-c: #ffe0d1;

	$lg-ocean: #7acfe2;
	$lg-ocean-b: #3c8ea0;

	$lg-wine2: #c17fb1;
	$lg-wine2-b: #6b335d;

	$lg-pineapple: #fff2a9;
	$lg-pineapple-b: #ffda0a;

	$lg-purple4: #7b73bf;

	$danger-lg: #ff746e;
	$danger-lg-b: #ffd7d5;

	// Middle versions

	$md-grey: #6c757d;
	
	$md-purple4: #4D4499;
	$md-pinky: #ff5577;
	$md-grass: #5ece66;
	$md-sun2: #ff5f5a;
	$md-sun: #fd8951;
	$md-ocean: #58c0d8;
	$md-wine2: #7b396b;
	

// FONT SIZES
	$x-small: 10px;
	$small: 12px;
	$regular: 14px;
	$x-regular: 16px;
	$large: 18px;
	$x-large: 20px;

// FONT WEIGHTS
	$lighter: 200;
	$normal: 400;
	$medium: 500;
	$semibold: 600;
	$bold: 700;

// FONT FAMILY
	$body-font: 'Raleway', sans-serif;

// SPACES
	$gap: 15px;
	$gap2: 30px;
	$gap3: 45px;
	$gap4: 60px;