.documentation-main {
	padding: 0 50px;

	.code-snippet {
		width: 100%;
		margin-top: 15px;
		line-height: 150%;
	}

	&.session-active {
		padding-top: $gap2 * 4;
	}
}

.section-name {
	h2 {
		font-size: 3rem;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			margin: 5px 15px 5px 0;
			display: inline-block;
			font-size: $x-large;
			font-weight: $semibold;
		}

		i {
			margin-right: 10px;
		}
	}
}

.doc-block {
	h3 {
		font-size: $x-large * 2;
		font-weight: $lighter;
	}

	h4 {
		font-size: $x-large + 2;
		font-weight: $bold;		
	}

	h3,
	h4 {
		text-transform: uppercase;
		margin: 0 0 $gap2;
	}

	p {
		margin: 1rem 0;
		font-size: $large;
		line-height: 170%;
		font-weight: $medium;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 20px 0 30px;

		li {
			background: url(../img/circle-pink-sm.png) no-repeat left center transparent;
			background-size: 10px auto;
			font-size: 15px;
			line-height: normal;
			font-weight: 500;
			padding-left: 25px;
			margin: 15px 0;
		}
	}

	.divider {
		background: $purple4;
		margin: $gap2 + 10 0;
		display: block;
		height: 1px;
	}	

	pre,
	.table-responsive {
		margin-bottom: $gap2 + 10;
	}

	.table-responsive {
		background: #F0F0F0;
		padding: $gap;
		display: inline-block;
		border-radius: 3px;
	    border: 1px solid #4D4499;
	}

	.table {
		color: $purple3;
		margin: 0;	

		td, 
		th {
		    padding: 10px;
		    vertical-align: middle;
		    border-top: transparent;
		    line-height: normal;
		    font-size: $regular;
		    font-weight: $medium;
		}

		tr {
			td:first-child {
				padding-left: 0;

				pre {
					margin: 0;
					border-radius: 3px;
					padding: 5px;
					background-color: $sun2;
					color: $light;
				}
			}
		}

		pre {
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px;
		}		
	}	
}