.logo-footer {
	font-size: 0;
	color: transparent;
	display: inline-block;
	margin: 0 auto $gap;
	width: 165px;
	height: 40px;
}

footer {
	margin-top: 5rem;
	padding-bottom: 2rem;
	text-align: center;

	.logo-footer {
		background: url('../img/logo.png') no-repeat center center;
		background-size: cover;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: $gap 0;
		}
		
		a {
			font-weight: $bold;
			font-size: $regular;
			text-transform: uppercase;
		}
	}

	a {
		color: $light;

		&:hover {
			text-decoration: none;
			color: $light;
		}
	}
}

.lg-bg {

	footer {
		.logo-footer {
			background: url('../img/logo-dark.png') no-repeat center center;
			background-size: cover;
		}

		a {
			color: $dark;

			&:hover {
				color: $dark;
			}
		}
	}
}

@import '../2-tablet/footer';