.hero {
	height: 100vh;
	background-size: cover;
	background-position: center center;

	&.homepage {
		background-color: $dark;

		.container {
			position: relative;
			z-index: 2;
		}
	}

	&.documentation {
		background-color: $lg-bg;
    	padding-bottom: 15vh;
	    min-height: 580px;
	    height: 65vh;
	    position: relative;

		h2,
		li {
			color: $light;
		}
	}

	h2 {
		font-size: 3rem;
		text-transform: uppercase;
		font-weight: $bold;
	}

	.btn {
		width: 100%;
		margin-bottom: $gap;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			margin: 5px 15px 5px 0;
			display: inline-block;
			font-size: $x-large;
			font-weight: $semibold;
		}

		i {
			margin-right: 10px;
		}
	}
}

.parallax {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .parallax-part {
    	background-position: bottom center;      
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
    }

    .front {        
        background-image: url(../img/front.png);  
        z-index: 3;
        bottom: -200px;
        left: -100px;
    }

    .middle {
        background-image: url(../img/middle.png);
        z-index: 2;
        bottom: -35px;
    }

    .back {
	    background-image: url(../img/back.png);
	    z-index: 1;
	    bottom: -30px;
    } 

    &.doc {
    	background-color: $lg-bg;
    	min-height: 580px;
    	height: 65vh;

	    .front {        
	        background-image: url(../img/docu-front.png);  
	        z-index: 2;
	        bottom: 15px;
	    }

	    .middle {
	        background-image: url(../img/docu-middle.png);
	        z-index: 3;
	        bottom: 0;
	    }

	    .back {
		    background-image: url(../img/docu-back.png);
		    bottom: 0;
	    } 
    }
}


@import '../2-tablet/hero';