.text-block {

	.title-line {
		font-size: $regular;
		color: $pinky;
		margin-bottom: $gap + 10;
		text-transform: uppercase;
		position: relative;
		letter-spacing: 3px;

		&:before {
			background: $pinky;
			margin-right: $gap - 5;
			content: '';
			display: block;
			height: 2px;
			width: 35px;
			display: inline-block;
			vertical-align: middle;
		}
	}

	h3 {
		font-size: $x-large * 2;
		text-transform: uppercase;
		font-weight: $bold;
		line-height: 110%;
		margin-top: $gap + 5;
		margin-bottom: $gap + 10;
	}

	p {
		font-size: $x-regular;
		line-height: 175%;
		margin: $gap 0;
		font-weight: $semibold;
	}

	i {
		font-size: 55px;
		margin-bottom: $gap;
	}

	.btn {
		width: 100%;
	}
}

i.purple {
	color: $purple4;
}

i.orange {
	color: $sun;
}

i.pink {
	color: $pinky;
}

.line-text-decoration {
	h4,
	h3 {
		font-size: $large + 4;
	    font-weight: $semibold;
	    padding-bottom: $gap + 5;
	    margin-bottom: $gap + 5;
	    text-transform: uppercase;
	    position: relative;
	    min-height: 5rem;

	    &:after {
	    	position: absolute;
	    	content: '';
	    	display: block;
	    	width: 35px;
	    	height: 2px;
	    	background: $pinky;
	    	left: 50%;
	    	margin-left: -17px;
	    	bottom: 0;
	    }

	    &.orange-bg {
	    	&:after {
		    	background: $sun;
		    }
	    }
	}

	& > div {
		margin-bottom: $gap2;
	}
}

.white-block {
    background: $light;
    padding: $gap2;

    h3,
    p {
    	color: $purple4;
    }

    h3 {
    	i {
    		display: inline;
    		margin: 0;
    	}
    }
}

.dark-block {
	padding: $gap2;
}

.transparent-block {
	margin: 0 15px;
    padding: $gap2;

    h3,
    p {
    	color: $light;
    }
}

.small-white-block {
	margin: 0 15px;
    padding: $gap2;
    background: $light;

    h3,
    p,
    ul {
    	color: $purple4;
    }
}

.bullet-list {
	list-style-type: none;
	padding: 0;
	margin: 3.5rem 0 0 0;
	 
	li {
		margin: 10px 0;
	    padding-left: 26px;
    	line-height: 20px;
		background: url(../img/circle-pink-sm.png) no-repeat 0 0 transparent;
		&.blocked {
			background: url(../img/cross-orange-sm.png) no-repeat 0 0 transparent;
			span {
				position: relative;
				&:before {
					border-bottom: 2px solid $sun;
			        position: absolute;
			        content: "";
			             width: calc(100% + 25px);
					    left: -16px;
					    top: 7px;
				}
			}
		}
	}
}

.main-section {
	margin-top: $gap2;
	margin-bottom: $gap2;
}

.two-columns {
	position: relative;
	margin: 75px 0;

	.row {
		margin-top: $x-large * 3;
	}

	h3 {
		margin: 0;
		font-size: $x-regular * 2;
	}

	.rombo-img {		
		margin: 35px auto 70px;
	}

	.post-title {
		font-size: $regular;
		color: $pinky;
		margin-bottom: $gap + 10;
		font-weight: $bold;
		text-transform: uppercase;
		position: relative;
		letter-spacing: 1px;
	}

	p {
		color: $dark;
		line-height: 175%;
	}

	&.dark-block {
		h3 {
			color: $purple2;
		}

		.post-title {
			color: $sun;
		}

		p {
			color: $light;
		}
	}
}

.rombo-img {
	overflow: hidden;
	width: 165px;
	height: 165px;
	border: 15px solid $pinky;
	margin: 45px;
	position: relative;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);

	img {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	    position: absolute;
		left: -60px;
		top: -40px;
		height: 145%;
		width: auto;
	}
}

.rounded-img {
	border-radius: 50%;
	overflow: hidden;
	width: 185px;
	height: 185px;
	border: 15px solid $purple4;

	img {
		width: 100%;
		height: auto;

		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
		filter: grayscale(100%);

		transition: .3s;

		&:hover {
			-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
			filter: none;
			filter: grayscale(0%);
		}
	}
}

.early-adopter {
	text-align: center;
	
	h2 {
		font-size: $x-large * 2;
		font-weight: $bold;
		margin-top: $gap + 5;
		margin-bottom: 0;
		text-transform: uppercase;
		line-height: 110%;
	}

	p {
		font-size: $x-regular;
		margin: $gap 0 $gap2;
		font-weight: $semibold;
		line-height: 175%;
	}
}

.images {

	&.orange-border {
		img {
    		box-shadow: 7px 7px 0 0 $sun;
		}
	}

	&.pink-border {
		img {
			box-shadow: 7px 7px 0 0 $pinky;
		}
	}

	img {	    
	    cursor: pointer;
	    transition: 0.3s;
	}
}


@import '../2-tablet/text-block';